@import '../../App';
$secondary-color: #ffffff;
$add-color: #000000;

.btn {
  display: inline-block;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  margin-right: 5px;

  &.edit {
    background-color: $primary-color;
    color: $secondary-color;
  }

  &.add {
    background-color: $add-color;
    color: $secondary-color;
    height: 100px;
    font-size: 30px;
  }

  &:hover {
    filter: brightness(90%);
  }
}
